// ==========================================================================
// Colors
// ==========================================================================

$white:                                 #fff;
$black:                                 #000;

$color-grey:                            #737373;
$color-grey-dark:                       mix($color-grey, $black, 50%);
$color-grey-darker:                     mix($color-grey, $black, 25%);
$color-grey-light:                      mix($color-grey, $white, 50%);
$color-grey-lighter:                    mix($color-grey, $white, 15%);

$color-page-background:                 #fff;
$inuit-base-background-color: 			    $color-page-background;

$color-brand-primary:                   #ff8d40;
$color-secondary:                       #9b51e0;

$color-success:                         #56d478;
$color-error:                           #d45659;

$palette: (
  'white':       $white,
  'black':       $black,
  'orange':      $color-brand-primary,
  'purple':      $color-brand-secondary,
  'grey':        $color-grey,
  'dark':        $color-grey-dark,
  'darker':      $color-grey-darker,
  'light':       $color-grey-light,
  'lighter':     $color-grey-lighter,
  'transparent': transparent,
  'error':       $color-error,
  'success':     $color-success,
  'layer':       rgba($color-grey-darker, 0.8)
);
