$base-font-size:              16px;
$inuit-base-font-size:        $base-font-size;

$base-line-height:            20px;
$inuit-base-line-height:      $base-line-height;

$base-radius:                 999999px;

$base-transition:             0.333333333s;

$base-spacing-unit:           20px;

$inuit-base-spacing-unit:     $base-spacing-unit;

$logo-height:                 $base-spacing-unit * 2;

$go-down-space:               $base-spacing-unit * 3;

$icon-height:                 $base-spacing-unit * 4;

$inuit-responsive-settings:   true;

$inuit-layout-namespace:      'o-' ;
$inuit-enable-layout--flush:   true;

//
$inuit-use-fractions:         false;

$wraper-width-default: 320px;
$wraper-width-start:   600px;
$wraper-width-small:   800px;


$breakpoints: (
    "start"          "screen and (min-width: 450px)",
    "small"          "screen and (min-width: 873px)",
    "large"          "screen and (min-width: 1200px)",
    "retina"         "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
);

//

$inuit-heading-size-6:  18px;
$inuit-heading-size-5:  $inuit-heading-size-6 * 1.2555;
$inuit-heading-size-4:  $inuit-heading-size-5 * 1.2555;
$inuit-heading-size-3:  $inuit-heading-size-4 * 1.2555;
$inuit-heading-size-2:  $inuit-heading-size-3 * 1.2555;
$inuit-heading-size-1:  $inuit-heading-size-2 * 1.2555;

//

$inuit-widths-columns: (1,2,3,4,5,6,7,8,12);
$inuit-widths-columns-responsive: $inuit-widths-columns;