// ==========================================================================
// Colors
// ==========================================================================

$white:                                 #fff;
$black:                                 #000;

$color-brand-primary:                   #ff8d40;

$color-grey:                            #737373;
$color-grey-dark:                       mix($color-grey, $black, 50%);
$color-grey-darker:                     mix($color-grey, $black, 25%);
$color-grey-light:                      mix($color-grey, $white, 50%);
$color-grey-lighter:                    mix($color-grey, $white, 15%);

// Reassign literal variables to meaningful ones.
$color-page-text:                       $color-grey-dark;
$inuit-base-text-color:		 			        $color-page-text;
$color-page-background:                 #fff;
$inuit-base-background-color: 			    $color-page-background;

$color-logo:                            $color-brand-primary;

$color-links:                           $color-brand-primary;
$color-links-hover:                     $color-brand-primary-shadow;

$color-page-head:                       #fff;
$color-page-head-background:            transparent;

$color-btn:                             #fff;
$color-btn-background:                  $color-brand-primary;
$color-btn-background-hover:            $color-brand-primary-shadow;
$color-btn-secondary:                   #fff;
$color-btn-secondary-background:        transparent;
$color-btn-secondary-background-hover:  rgba($color-grey, 0.5);

$color-page-foot:                       #fff;
$color-page-foot-background:            $color-grey-darker;

$color-panel-background:                #fff;
$color-panel-inverse:                   #fff;
$color-panel-inverse-background:        $color-brand-primary;
$color-panel-link:                      $color-grey-dark;
$color-panel-link-hover:                $color-brand-primary;

$color-testimonial-background:          $color-grey-lighter;
$color-testimonial-source:              $color-grey;
$color-testimonial-quote:               $color-grey-light;

// Status
$success-color:                         #67ff59;
$error-color:                           #d45659;
