.o-aside {
  margin-top: $base-spacing-unit;
}

  .o-aside--link {
    text-align: center;

    @include media-query(small) {
      text-align: right;
    }

  }

  .o-aside--spinner {
    transform: rotate(0deg);
    transition: transform .4s ease;
    float: right;
    margin-right: $base-spacing-unit;
    @include inuit-font-size(50px);
    line-height: 0;
    font-weight: light;

    a:hover & {
      transform: rotate(180deg);
    }
  }
