.o-section {
  @include clearfix;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.o-section__title {
  color: $color-grey;
  font-weight: bold;
  padding: {
    top: $base-spacing-unit * 5;
    bottom: $base-spacing-unit;
  }
  text-align: center;
  text-transform: uppercase;
}

.o-section__title--shorter {
  padding-top: 60px;
}