// ==========================================================================
// Secti0ns
// ==========================================================================

//
// A simply content wrapper with special features.
// The "o-section__title" works as a Component element that will be used only
// as a "o-section" object child.
//

.o-section {
  @include inuit-clearfix;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.o-section__title {
  padding: {
    top: $gap;
    bottom: $gap;
  }
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  color: palette("grey");
  font-size: initial;
  font-weight: bold;
}
