.o-wrapper {
    display: block;
    position: relative;
    padding-right: $base-spacing-unit;
    padding-left:  $base-spacing-unit;
    margin-right: auto;
    margin-left:  auto;
    max-width: $wraper-width-default;

    @include media-query(start) {
        max-width: $wraper-width-start;
    }

    @include media-query(small) {
        max-width: $wraper-width-small;
    }
}
