/*
    Positioning (z)
   ========================================================================== */

.u-is-above {
  z-index: 9999;
}





/*
    Placements and alignments
   ========================================================================== */

.u-is-centered {
  left: 50%;
  transform: translateX(-50%);
}

// I consider this a valid BEM format
// scss-lint:disable SelectorFormat
.u-is-centered--vertical {
  top: 50%;
  transform: translateY(-50%);
}

// I consider this a valid BEM format
// scss-lint:disable SelectorFormat
.u-is-centered--total {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}





/*
    Roundness
   ========================================================================== */

.u-is-rounded {
  border-radius: 9999px;
}
