/**
 * Following properties complement background-image properties.
 */

[data-image] {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

[data-image*='full-auto'] {
  background-size: 100% auto;
}

[data-image*='auto-full'] {
  background-size: auto 100%;
}

[data-image*='full-full'] {
  background-size: 100% 100%;
}

[data-image*='center-top'] {
  background-position: center top;
}

[data-image*='left-top'] {
  background-position: left top;
}

[data-image*='left-center'] {
  background-position: left center;
}

[data-image*='right-top'] {
  background-position: right top;
}

[data-image*='right-center'] {
  background-position: right center;
}

[data-image*='hover-resized'] {
  transform: scale(1);
  transition: transform .3s ease;

  &:hover,
  a:hover &{
    transform: scale(1.1);
  }
}