/*
   Visibility utilities
   ========================================================================== */

/**
 * Hide when screen is < 400px
 */

.u-mobile-only {
  @include media-query(start) {
    display: none;
  }
}

/**
 * Hide when screen is < 400px
 */

.u-hide-mobile {
  @media screen and (max-width: 400px) {
    display: none;
  }
}

/**
 * Visible only on start screens > 400px and < 800px
 */

.u-start-only {
  display: none;

  @include media-query(start) {
    display: initial;
  }

  @include media-query(small) {
    display: none;
  }
}

/**
 * Visible only on screens > 400px
 */

.u-start-up {
  display: none;

  @include media-query(start) {
    display: initial;
  }
}

/**
 * Visible only on screens < 800px
 */

.u-hide-small {
  display: initial;

  @include media-query(small) {
    display: none;
  }
}

/**
 * Visible only on screens > 800px
 */

.u-small-up {
  display: none;

  @include media-query(small) {
    display: initial;
  }
}

/**
 * Visible only screens > 1250px
 */

.u-large-up {
  display: none;

  @include media-query(large) {
    display: initial;
  }
}

.u-hide-always {
  display: none;
}


.u-show-on-hover {

  @include media-query(small) {
    transition: opacity 0.2s ease;
    opacity: 0;

    &:hover {
      opacity: 1;
      cursor: hover;
    }
  }
}
