/*
   Borders utilities
   ========================================================================== */


$borders: right left bottom top;

@each $b, $border in $borders {

  .u-border--#{$b} {
    &--grey {
      border-#{$b}: 1px solid $color-grey;
    }

    &--dark {
      border-#{$b}: 1px solid $color-grey-dark;
    }

    &--darker {
      border-#{$b}: 1px solid $color-grey-darker;
    }

    &--light {
      border-#{$b}: 1px solid $color-grey-light;
    }

    &--lighter {
      border-#{$b}: 1px solid $color-grey-lighter;
    }

  }
}
