/*
   Some properties that must be fixed
   ========================================================================== */

.o-layout {
  @extend %clearfix;
}

.o-layout__item {
  float: left;
}

// I consider this a valid BEM format
// scss-lint:disable SelectorFormat
.o-pack--top > .o-pack__item {
  vertical-align: top;
}

.u-overflow-hidden-alt {
  overflow: hidden;
}

[name='google_conversion_frame'] {
  // scss-lint:disable ImportantRule
  display: none !important;
}
