//
// Forms
// ==========================================================================
//
// Styles for standarize form fields elements:
// - text inputs: text, date, datetime, datetime-local, email, month, number,
//   password, search, tel, time, url, and week.)
// - textares
// - select
//
// Usage:
//
// <form class='c-form'> (1)
//   <div class='c-form__item'>
//     <input type='' class='c-form__field />
//   </div>
//   <div class='c-form__item'>
//     <input type='' class='c-form__field />
//   </div>
//   ...
// </form>
//
// 1: For dark background forms extend  with class 'c-form--dark'
//

$form-field-focus-state-image: "https://placeholdit.imgix.net/~text?txtsize=24&bg=transparent&txtclr=ff8d40&txt=%E2%96%B8&w=50&h=50&txttrack=0";

.c-form__item {
  position: relative;
  margin-bottom: $base-spacing-unit;

}

.c-form__field {
  position: relative;
  transition: $base-transition ease;
  outline: 0;
  border: 1px solid $color-grey-lighter;
  background-color: $shite;
  background-image: url("#{$form-field-focus-state-image}");
  background-repeat: no-repeat;
  background-position: -50px 5px;
  background-size: auto 45px;
  padding: $base-spacing-unit;
  width: 100%;
  height: $base-spacing-unit;
  color: mix($white, $black, 50%);

  .c-form--dark & {
    border-color: $color-grey;
    background-color: mix($color-grey-dark, $color-grey-darker, 50%);
  }

  &:focus {
    border-color: $color-brand-primary;
    background-position: -10px 5px;
  }

  &--error {
    border: 1px solid $error-color;
    color: $error-color;
  }

  &--required::after {
    position: absolute;
    top: 0;
    right: $base-spacing-unit;
    z-index: 1;
    line-height: $base-spacing-unit;
    color: $color-brand-primary;
    font-size: 30px;
    content: "*";
  }
}

// scss-lint:disable QualifyingElement
select.c-form__field {
  text-indent: $base-spacing-unit;

  &,
  &:focus {
    background-image: none;
  }
}

// scss-lint:disable QualifyingElement
textarea.c-form__field {
  height: $base-spacing-unit;
  resize: vertical;
}
