//
// Hocus
// ==========================================================================
//
// Generate `:hover` and `:focus` styles in one go.
//

@mixin hocus() {
  &:hover,
  &:focus {
    @content;
  }
}
